<%= form_with(method: :put,model: admin,local: true,html: { multipart: true } ) do |form2| %>
  <% @a=@admin.id %>
  <% @count=0 %><%# i=0 %>
  <% for i in 1..35 %>
      <% @query = Admin.where(id: @a).first %>
      <% @b=@query.id_seat %>

      <% if @query.status!=1 %>
        <% @count+=1 %>
        <div class="field" style="float:left;">
          <%#= check_box 'admins','upseat',{:mutiple => true},@a,nil %>
          <%= check_box_tag "choices[]",@a %>
        </div>
      <% else %>
        <div class="field" style="float:left;">
          <%= image_tag("tik.png") %>
          
        </div>
      <% end %>

      <% if (i%5)==0 %>
        <% if i==5 %>G<% end %>
        <% if i==10 %>F<% end %>
        <% if i==15 %>E<% end %>
        <% if i==20 %>D<% end %>
        <% if i==25 %>C<% end %>
        <% if i==30 %>B<% end %>
        <% if i==35 %>A<% end %>
        <br><br><br>
      <% end %>
      <!--<div class="field" style="display: none">
    
        <%#= form2.text_field :id %>
  
        <%#= form2.text_field :id_movie %>
  
        <%#= form2.text_field :price %>

      </div>-->
      <% @a=@a+1 %>
  <% end %>
  Available <%= @count %>
  <br><br>
  <div class="actions">
    <%= form2.submit("Submit") %>
  </div>
<% end %>
