<h1>Change</h1>
<% @a = params[:id] %>
<% @d = params[:change][:pays] %>
<% @c = params[:count] %>
<% @query = Admin.where(id: @a).first %>
<% @b=@query.price %> 
<p>จำนวนเงินทอน THB <%= @e =  @d.to_f-(@b*@c.to_f*7/100+(@b*@c.to_f)) %></p>
<% @g=@e %>
<% @h=@e %>
<% pay=Array.new(11,0)%>
<% arr=Array.new(11)%>
<% arr=[1000.0,500.0,100.0,50.0,20.0,10.0,5.0,2.0,1.0,0.50,0.25]%>

<% for i in 0..10 %>
<%	pay[i] = @e/arr[i].to_f%>
<% pay[i] = pay[i].to_i %>
<%	@e = @e - (pay[i]*arr[i].to_f) %>
<% end %>
<p>แบงค์ THB 1000.0 จำนวน <%= pay[0]%> ใบ เป็นเงิน THB <%= 1000.0*pay[0] %> คงเหลือ THB <%= @g-=1000.0*pay[0] %></p>
<p>แบงค์ THB 500.0 จำนวน <%= pay[1] %> ใบ เป็นเงิน THB <%= 500.0*pay[1] %> คงเหลือ THB <%= @g-=500.0*pay[1] %></p>
<p>แบงค์ THB 100.0 จำนวน <%= pay[2] %> ใบ เป็นเงิน THB <%= 100.0*pay[2] %> คงเหลือ THB <%= @g-=100.0*pay[2] %></p>
<p>แบงค์ THB 50.0 จำนวน <%= pay[3] %> ใบ เป็นเงิน THB <%= 50.0*pay[3] %> คงเหลือ THB <%= @g-=50.0*pay[3] %></p>
<p>แบงค์ THB 20.0 จำนวน <%= pay[4] %> ใบ เป็นเงิน THB <%= 20.0*pay[4] %> คงเหลือ THB <%= @g-=20.0*pay[4] %></p>
<p>เหรียญ THB 10.0 จำนวน <%= pay[5] %> เหรียญ เป็นเงิน THB <%= 10.0*pay[5] %> คงเหลือ THB <%= @g-=10.0*pay[5] %></p>
<p>เหรียญ THB 5.0 จำนวน <%= pay[6] %> เหรียญ เป็นเงิน THB <%= 5.0*pay[6] %> คงเหลือ THB <%= @g-=5.0*pay[6] %></p>
<p>เหรียญ THB 2.0 จำนวน <%= pay[7] %> เหรียญ เป็นเงิน THB <%= 2.0*pay[7] %> คงเหลือ THB <%= @g-=2.0*pay[7] %></p>
<p>เหรียญ THB 1.0 จำนวน <%= pay[8] %> เหรียญ เป็นเงิน THB <%= 1.0*pay[8] %> คงเหลือ THB <%= @g-=1.0*pay[8] %></p>
<p>เหรียญ THB 0.50 จำนวน <%= pay[9] %> เหรียญ เป็นเงิน THB <%= 0.50*pay[9] %> คงเหลือ THB <%= @g-=0.50*pay[9] %></p>
<p>เหรียญ THB 0.25 จำนวน <%= pay[10] %> เหรียญ เป็นเงิน THB <%= 0.25*pay[10] %> คงเหลือ THB <%= @g-=0.25*pay[10] %></p>

<p>รวม THB <%= @h %> เศษ THB <%= @g %> cross-check: true</p>

<%= link_to 'Back', admins_home_path %>