<h1>Pay</h1>
<% @a = params[:id] %>
<% @c = params[:count] %>

<% @query = Admin.where(id: @a).first %>
<%= @b=@query.price %>  
<p>Price <%= @b %> THB VAT <%= @b*7/100 %> THB</p>
<p>Price include VAT <%= @b+@b*7/100 %> THB</p>
<p>Total <%= @b*@c.to_f %> THB VAT <%= @c.to_f*@b*7/100 %> THB</p>
<p>Total include VAT <%= @d=@b*@c.to_f*7/100+(@b*@c.to_f) %> THB</p>
<%= form_for :change, :url => "change" do |f| %>
	<div class="field">
    	<%= f.label :Payment %>
    	<%= f.text_field "pays" %>
	</div>
	<div class="actions">
		<%= f.submit("Submit") %>
    	<%#= link_to 'Change', admins_change_path(1000.0,@d) %>
  	</div>
<% end %>
<%= link_to 'Back', admins_home_path %>

